@import url('./normalize.css');
@import url('./modal.css');

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital@0;1&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
  /* colors */
  --primary-color: #020206;
  --secondary-color: #181818;
  --tertiary-color: #738bec;
  --white: #fff;

  /* font family */
  --primary-font: "Poppins";
  --secondary-font: "secondaryfont";
  --tertiary-font: "tertiaryfont";

  /* fonst sizes */
  font-size: 16px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;

  /* font weigths */
  --font-thin: 100;
  --font-extralight: 200;
  --font-ligth: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
}

* {
  font-weight: var(--font-regular);
  font-family: var(--primary-font);
  font-size: var(--text-base);
  color: var(--white);
}